<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/src/main.static/bootstrap.min.css}"
          href="../src/main/static/bootstrap.min.css" rel ="stylesheet">
    <meta charset="UTF-8">
</head>

<nav th:replace="~{navbar :: navbarFragment}"></nav>
<body class="text-center">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<p></p>

<div class="container">
    <table class="table">
        <tread class="table-info">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
        </tread>
        <tbody>
            <tr th:if="${not #lists.isEmpty(boardList)}" th:each="row:${boardList}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.title}"></td>
                <td th:text="${row.writer}"></td>
            </tr>
        </tbody>
    </table>
    <button class="w-10 btn btn-primary btn" onclick="location.href='/board/createBoardForm'">작성</button>
</div>
</body>
</html>