<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/src/main.static/bootstrap.min.css}"
          href="../src/main/static/bootstrap.min.css" rel ="stylesheet">
    <style>
        .login-form {
            width: 500px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            margin: 40px auto;
        }
    </style>
</head>

<nav th:replace="~{navbar :: navbarFragment}"></nav>
<body class="text-center">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="login-form">
    <form action="members/login" method="post">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">아이디</label>
            <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control" placeholder="id" required>
            </div>
        </div>
        <p></p>
        <div class="form-group row">
            <label for="pw" class="col-sm-2 col-form-label">패스워드</label>
            <div class="col-sm-10">
                <input type="text" id="pw" name="pw" class="form-control" placeholder="password" required>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn" type="submit">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn" type="button" onclick="location.href='members/join'">회원가입</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>